{% extends 'base.html' %}

{% block content %}

<div class="row">

	<div class="col-12">
		<h1>Account</h1>
		<hr/>
	</div>

	<div class="col-12 col-md-3 my-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Support</h5>
				<p class="card-text">
					<div class="list-group">
						<a class="list-group-item" href="{% url 'about' %}">About</a>
						<a class="list-group-item" href="{% url 'contact' %}">Contact</a>
					</div>
				</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-3 my-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Billing</h5>
				<p class="card-text">
					<div class="list-group">
						<a class="list-group-item" href="#">Orders</a>
						<a class="list-group-item" href="{% url 'billing-payment-method' %}">Payment Methods</a>
						<a class="list-group-item" href="#">Addresses</a>
					</div>
				</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-3 my-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Settings</h5>
				<p class="card-text">
					<a class="list-group-item" href="{% url 'account:user-update' %}">Update Details</a>
					<a class="list-group-item" href="{% url 'password_change' %}">Change Password</a>
					<a class="list-group-item" href="{% url 'marketing-pref' %}">Email Marketing Preference</a>
				</p>
			</div>
		</div>
	</div>


	<div class="col-12 col-md-3 my-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">History</h5>
				<p class="card-text">
					<a class="list-group-item" href="{% url 'account:user-product-history' %}">Products Viewed</a>
				</p>
			</div>
		</div>
	</div>
</div>



{% endblock %}